* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.google-meets {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(3, 240px) 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
}

.person {
  background-color: #ddd;
  padding: 10px;

  display: grid;
  align-content: flex-end;
}

.footer {
  padding: 10px;
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-weight: 800;

  display: grid;
  align-items: center;
}
